.head5 {
  padding: 124px 9vw 124px 9vw;
  background-color: $primary;
  h1 {
    display: inline-block;
    margin-bottom: 32px;
    color: $white;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.15em;
    border-bottom: solid 6px $red;
    span {
      color: $blue;
    }
  }
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 28px 0;
    width: 82vw;
    background-color: inherit;
    border-left: none;
    border-right: none;
    border-top: solid 2px $primaryLightest;
    border-bottom: none;
    color: $white;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.15em;
    &:hover,
    &:hover svg rect {
      color: $primaryLightestest;
      fill: $primaryLightestest;
      cursor: pointer;
    }

    span {
      width: 76vw;
      text-align: left;
    }
    svg {
      transition: 0.5s;
      rect {
        fill: $white;
      }
    }
  }
  .answer {
    overflow: hidden;
    h4 {
      width: 76vw;
      font-weight: 400;
      font-size: 22px;
      color: $white;
      padding-left: 3.6vw;
      padding-bottom: 28px;
      letter-spacing: 0.15em;
    }
  }
  .hr {
    width: 82vw;
    height: 2px;
    background-color: $primaryLightest;
  }
}
