nav {
  position: fixed;
  z-index: 5;
  // width: calc(100% - 18vw);
  width: 100%;
  height: 88px;
  background-color: $primaryDarker;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9vw 0 9vw;
  input {
    background-color: $primaryLighter;
    width: 27vw;
    height: 48px;
    padding: 0 0 0 56px;
    color: $primaryLightestest;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.15em;
    border: none;
    background-image: url("../imgs/searchIcon.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 16px;
  }
  a {
    text-decoration: none;
    color: $blueLighter;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.15em;
    &:hover {
      color: $blue;
    }
    svg {
      padding-top: 5px;
      fill: $blueLighter;
      &:hover {
        fill: $blue;
      }
    }
    .collection .collectionBackground {
      fill: $primaryDarker;
      &:hover {
        fill: $red;
      }
    }
  }
  :first-child img {
    margin-top: 5px;
  }
  :last-child img {
    margin-top: 5px;
  }
  .profilePic,.cartList {
    cursor: pointer;
    .dropDown {
      display: none;
      position: fixed;
      top: 80px;
      right: 5.6vw;
      background-color: $blue;
      width: 178px;
      z-index: 2;
      .backStage {
        border-top: solid 2px $blueLighter;
        border-bottom: solid 2px $blueLighter;
      }
      li {
        color: $white;
        display: block;
        padding: 18px 0 18px 0;

        .listbox {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 22px;
            // padding: 0 18px 0 24px;
            margin-right: 10px;
            margin-top: 2px;
          }
        }
        a {
          color: $white;
          font-size: 18px;
          letter-spacing: 0.15em;
        }
        img {
          width: 22px;
          padding: 0 18px 0 24px;
          margin-top: 2px;
        }
        &:hover {
          background-color: $blueDarker;
        }
      }

      :first-child li {
        background-color: $red;
        &:hover {
          background-color: $redDarker;
        }
      }
    }
    .mouth {
      display: none;
      width: 16px;
      height: 16px;
      background-color: $red;
      transform: rotate(45deg);
      z-index: 1;
      position: absolute;
      right: 9.9vw;
    }
  }
  .profilePic:hover .dropDown,
  .profilePic:hover .mouth {
    display: block;
  }


// write cart number
  .cartNumber{
    position:absolute;
    background-color:$red;
    width: 22px;
    height: 23px;
   
    color: $white;
    border-radius: 20px;
    font-size:12pt;
    text-align: center;
    line-height: 18px;
   top:-8px;
   left:2px;
   z-index: -1;
  
}
a{
  position: relative;
}

 #active>div{
 
 background-color: $redDarker;

}
// .shoppingCart:hover ~.dropDown,
// .shoppingCart:hover ~.mouth {
//     display: block;
//   }
// .cartList{
//   position: relative;
//   .dropDown{
//     position:absolute;
//     right:-5vw;
//     top:4vw
//   }
//   .mouth{
//     width: 16px;
//       height: 16px;
//     position:absolute;
//     right: -0.3vw;
//     top:2vw
//   }
// }
}