nav {
  position: fixed;
  z-index: 5;
  // width: calc(100% - 18vw);
  width: 100%;
  height: 88px;
  background-color: $primaryDarker;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9vw 0 9vw;
  input {
    background-color: $primaryLighter;
    width: 27vw;
    height: 48px;
    padding: 0 0 0 56px;
    color: $primaryLightestest;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.15em;
    border: none;
    background-image: url("../imgs/searchIcon.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 16px;
  }
  a {
    text-decoration: none;
    color: $blueLighter;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.15em;
    &:hover {
      color: $blue;
    }
    svg {
      padding-top: 5px;
      fill: $blueLighter;
      &:hover {
        fill: $blue;
      }
    }
    .collection .collectionBackground {
      fill: $primaryDarker;
      &:hover {
        fill: $red;
      }
    }
  }
  :first-child img {
    margin-top: 5px;
  }
  :last-child img {
    margin-top: 5px;
  }
  .profilePic {
    cursor: pointer;
    .dropDown {
      display: none;
      position: fixed;
      top: 80px;
      right: 5.6vw;
      background-color: $blue;
      width: 178px;
      z-index: 2;
      .backStage {
        border-top: solid 2px $blueLighter;
        border-bottom: solid 2px $blueLighter;
      }
      li {
        color: $white;
        display: block;
        padding: 18px 0 18px 0;

        .listbox {
          display: flex;
          align-items: center;
        }
        a {
          color: $white;
          font-size: 18px;
          letter-spacing: 0.15em;
        }
        img {
          width: 22px;
          padding: 0 18px 0 24px;
          margin-top: 2px;
        }
        &:hover {
          background-color: $blueDarker;
        }
      }

      :first-child li {
        background-color: $red;
        &:hover {
          background-color: $redDarker;
        }
      }
    }
    .mouth {
      display: none;
      width: 16px;
      height: 16px;
      background-color: $red;
      transform: rotate(45deg);
      z-index: 1;
      position: absolute;
      right: 9.9vw;
    }
  }
  .profilePic:hover .dropDown,
  .profilePic:hover .mouth {
    display: block;
  }
}
