.allV {
  overflow-x: hidden;
  .videoContainer {
    position: relative;
    top: 88px;
    background-color: #9d9faa;
    display: flex;
    width: 100vw;
    height: 76.76vh;
    overflow: hidden;
    .video {
      display: block;
      // margin: auto;
      width: 77.24%;
      align-items: center;  
      justify-items: center;
      position: relative;
      &:hover{
        .hover{
          transform: translateY(0);
        }
        .progress {
          height: 20px;
        }
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: fill;
        &::-webkit-media-controls {display: none;}
        }
      }
      button {
        background-color: transparent;
        cursor: pointer;
        border: none;
      }
      .videoControlBar{
        display: flex;
        align-items: center;
        justify-self: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(100%) translateY(-5px);
        transition: all .3s;
        flex-wrap: wrap;
        background: rgba(0,0,0,0.1);
        .progress {
          flex: 10;
          position: relative;
          display: flex;
          flex-basis: 100%;
          height: 5px;
          transition: height 0.3s;
          background: rgba(255,255,255,0.5);
          cursor: ew-resize;
          .progressFilled {
            // width: 50%;
            background: $yellow;
            flex: 0;
            // flex-basis: 0%;
          }
        }
        .videoBtnContainer{
          margin: 0 0.2rem;
          padding: 0.5rem;
          // display: flex;
        }
        .videoTime{
          color: white;
          padding: 0 0.4rem;
          font-size: 1.3rem;
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .currentTimeSpace{
            width: 50px;
          }
        }
        .voiceBtn{
          margin-right: auto;
          display: flex;
          .voiceBar{
            flex: 10;
            position: relative;
            display: flex;
            flex-basis: 100%;
            width: 100px;
            height: 35px;
            transition: height 0.3s;
            background: rgba(255, 255, 255, 0.5);
            margin: 0 1rem;
            .voiceFill{
            background: $yellow;
            flex: 0;
            flex-basis: 100%;
            }
          }
        } 
        .videoSpeed{
          background-color: white;
          width: 82px;
          height: 35px;
          display: flex;
          position: relative;
          font-weight: 700;
          button{
            width: 100%;
            font-size: 1.3rem;
            font-weight: 700;
          }
          .videoSpeedList{
            background-color: $primaryLightest;
            height: 215px;
            // padding: 0 1rem;
            position:absolute;
            z-index: 1000;
            // right: 1000;
            bottom: 100%;
            margin-bottom: 3rem;
            display: none;
            ul{
              list-style-type: none;
              
              font-size: 1.3rem;
              // width: fit-content;

            }
            li{
              padding: 0.2rem 0;
              width: 82px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center; 
              &:hover{
                background-color: $primaryLightestest;
              }
            }
          }
        }  
        .fullScreenBtn{
          margin: 0 1rem 0 1rem;
        }
      }
    }

    .classListContainer {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      background-color: $primaryLightest;
      color: $white;
      width: 21.8%;
      font-size: 22px;
      overflow-x: hidden;
      overflow-y: auto;
      .classListHead{
        height: 12.5%;
        display: flex;
        align-items: center;
        margin-left: 19.22%;
      }
      .classListBody{
        display: flex;
        flex-direction: column;
        height: 87.5%;
        .classListChapter{
          outline: 1px solid $primaryLightestest;
          // height: 100%;// //這裡會讓ul暴版
          .titleContainer{
            display: flex;
            outline: 1px solid $primaryLightestest;
            height: 89px;
            .expandSvg{
              width: 19.22%;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: transform 3s linear;
            }
            .title{
              display: flex;
              align-items: center;
              justify-content: center;
              transition: transform 3s linear;
            }
          }
        }
        ul{
          list-style-type: none;
          
          li{
            height: 89px;
            padding-left: 19.22%;
            display: flex;
            align-items: center;
            outline: 1px solid $primaryLightestest;
            // justify-content: center;
          }
        }

      }
    }
    
  }

  .infoContainer {
    width: 83.33333%;
    margin: 12vh auto;
    position: relative;

    .infoHead {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 40px;
      position: relative;
      // margin-top: 102px;
      
      .infoHeadTitle {
        display: inline-block;
        font-weight: 700;
        color: $blueDarker;


      }

      .infoHeadPrice {
        font-size: 32px;
        font-weight: 700;
        color: $red;
        margin-left: auto;
        padding: 0 6.5px 0 0;
      }

      button {
        height: 48px;
        border-radius: 24px;
        margin: 0 7.5px;
        padding: 13px;
        border: none;
        padding: 1px 24px;
        position: relative;
        cursor: pointer;


        span {
          color: $white;
          font-size: 18px;
          align-content: center;
        }
      }

      .infoHeadShopCart {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: $blueDarker;
        }
      }

      .infoHeadBuyNow {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: $red;
        }
      }
    }

    .containerLine {
      height: 6px;
      background-color: $red;
      margin-top: 6px;
    }

    .infoBtn {
      margin-top: 5vh;
      border-bottom: solid $primaryLightest;
      width: 74%;
      display: flex;
      text-decoration:none ;
      
      div {
        display: flex;
        width: 50%;
        a{
          text-decoration: none;
        }
      }
      
      button {
        display: flex;
        color: $blueDarker;
        background-color: transparent;
        border: none;
        cursor: pointer;
        span {
          font-size: 32px;
        }
      }
      button:focus {
        box-shadow: 0 3px 0 $red;
      }
    }

    .introContainer{
      width: 74%;
      div{
        img{
          margin: 5vh 11.3%;
        }
      }
      .introText{
        margin: 5vh 11.3%;
        font-size: 20px;
        line-height: 33px;
        color: white;
        pre{
          white-space: pre-wrap;
        }
      }
    }
    .noteContainer{
      width: 74%;
      .noteBox{
        width: 76%;
        margin: 5vh 11.3%;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        .videoCurrentTime{
          width: 10%;
          font-size: 20px;
          cursor: pointer;
          border: none;
          border-radius: 40px;
          align-items: center;
          justify-content: center;
          padding: 5px 20px;
          font-weight: 600;

        }
        .textArea{
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 40px;
          textarea{
            min-height: 112px;
            padding: 20px;
            font-size: 20px;
            border:6px solid $primaryLightestest;
          }
          .textAreaBtn{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: flex-end;
            .cancelBtn{
              cursor: pointer;
              font-size: 16px;
              color: white;
              background: transparent;
              height: 34px;
              border: none;
              font-weight: bold;
              padding: 0px 16px;
            }
            .saveBtn{
              cursor: pointer;
              font-size: 16px;
              height: 34px;
              padding: 0px 16px;
              border: none;
              font-weight: bold;
            }
          }
        }
      }
      .noteBtn{
        width: 76%;
        margin: 5vh 11.3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        height: 112px;
        color: $primaryLightestest;
        border: 6px solid $primaryLightestest;
        font-size: 20px;
        padding: 0 16px;
      }
      .noteList{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 30px;
        .noteBox{
          margin: 5vh 11.3%;
          display: flex;
          gap: 15px;
          align-items: flex-start;
          font-size: 20px;
          color:white;

          .videoCurrentTime{
            width: 10%;
            font-size: 20px;
            cursor: pointer;
            border: none;
            border-radius: 40px;
            align-items: center;
            justify-content: center;
            padding: 5px 20px;
            font-weight: 600;
          }
          .noteContent{
            padding: 15px;
            width: 100%;
            background-color: $primaryLightestest;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .noteContentDel{
              display: flex;
              align-self: flex-end;
              gap: 10px;
              button{
                background-color: $primaryLightestest;
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .commentContainer{
      width: 74%;
      .commentRating{
        width: 76%;
        margin: 5vh 11.3%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .ratingStar{
          width: 60px;
          height: 60px;
        }
      }
      .commentKeyInBox{
        width: 76%;
        margin: 5vh 11.3%;
        display: flex;
        align-items: flex-start;
        .textArea{
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 40px;
          textarea{
            min-height: 112px;
            padding: 20px;
            font-size: 20px;
            border:6px solid $primaryLightestest;
          }
          .textAreaBtn{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: flex-end;
            .saveBtn{
              cursor: pointer;
              font-size: 16px;
              height: 34px;
              padding: 0px 16px;
              border: none;
              font-weight: bold;
            }
          }
        }
      }
      .commentList{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        .commentBox{
          margin: 5vh 11.3%;
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: flex-start;
          font-size: 20px;
          color:white;
          .commentContent{
            padding: 15px;
            width: 100%;
            background-color: $primaryLightestest;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .commentContentDel{
              display: flex;
              align-self: flex-end;
              gap: 10px;
              button{
                background-color: $primaryLightestest;
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }




