@font-face {
  font-family: "interRegular";
  src: url(./font/Inter-Regular.ttf);
}
@font-face {
  font-family: "interBold";
  src: url(./font/Inter-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "intreRegular", "Noto Sans TC", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #1d1f27;
}

.headerss {
  height: 50px;
}

.dCartContainer {
  width: 70%;
  padding-left: 70px;
}
.dCartContainer .cartcompos {
  display: flex;
  flex-direction: column;
}
.dCartContainer .cartcompos hr {
  color: #6f717b;
  width: 100%;
}
.dCartContainer .cartcompos .tabletitle {
  color: #9d9faa;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  text-align: center;
  padding: 5px 0;
}
.dCartContainer .cartcompos .tabletitle > div:nth-child(1) {
  width: 8.07%;
}
.dCartContainer .cartcompos .tabletitle > div:nth-child(2) {
  width: 18%;
}
.dCartContainer .cartcompos .tabletitle > div:nth-child(3) {
  width: 34%;
}
.dCartContainer .cartcompos .tabletitle > div:nth-child(4), .dCartContainer .cartcompos .tabletitle > div:nth-child(5) {
  width: 14.307%;
}
.dCartContainer .cartcompos .tabletitle > div:nth-child(6) {
  width: 11.314%;
}
.dCartContainer .dcartPageTitle {
  padding-top: 30px;
  padding-bottom: 30px;
}
.dCartContainer .dcartPageTitle .dCartTitle {
  font-weight: 700;
  font-size: 30px;
  padding: 5px 0;
  border-bottom: 6px solid #e23965;
  line-height: 48px;
  letter-spacing: 0.15em;
  color: #4967ff;
}
.dCartContainer .dcartPageTitle .dCartTitle span svg path {
  fill: #aa003b;
}

.dCartList li label {
  height: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  align-items: center;
}
.dCartList li label input {
  margin: 30px;
  width: 20px;
}
.dCartList li label img {
  width: auto;
  max-height: 90px;
  padding: auto;
}
.dCartList li label .dTrash {
  padding: 0 30px;
  float: right;
  width: 50px;
}
.dCartList li label .dTrash svg path {
  fill: #aa003b;
}
.dCartList li label .dTrash svg path:hover {
  fill: #e23965;
}
.dCartList li label .dCartitem {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}
.dCartList li label .dCartitem .dCartTiltle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #4967ff;
  transition: all 0.3s;
}
.dCartList li label .dCartitem .dCartTiltle:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.dCartList li label .dCartitem .dCartTeacher {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.dCartList li label .dOldPrice {
  width: 150px;
  text-align: center;
  padding: 40px 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #9d9faa;
  text-decoration: line-through;
}
.dCartList li label .dSpecailPrice {
  width: 150px;
  text-align: center;
  padding: 40px 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #e23965;
}

.checkoutorder {
  display: flexbox;
  position: absolute;
  float: right;
  right: 30px;
  top: 200px;
  width: 280px;
  height: 350px;
  background-color: #44464f;
  font-weight: 500;
}
.checkoutorder .dOrderTitle {
  font-size: 25px;
  font-weight: 60px;
  padding: 25px 30px;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.checkoutorder .sSubtotaltitle {
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0.15em;
  color: #ffffff;
  padding: 9px 0 9px 30px;
}
.checkoutorder .sSubtotal {
  font-size: 26px;
  line-height: 33px;
  float: right;
  padding: 9px 30px 9px 0px;
  letter-spacing: 0.1em;
  color: #9d9faa;
}
.checkoutorder .sSubtotal ::before {
  display: flex;
}
.checkoutorder .sDiscount {
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #9d9faa;
  padding: 10px;
}
.checkoutorder .sDiscount input {
  margin: 5px;
  background-color: #1d1f27;
  border-radius: 10px;
}
.checkoutorder .sDiscount input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.checkoutorder .sNoSpecial {
  font-weight: 700;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #e23965;
}
.checkoutorder .icodeitems {
  text-align: center;
  display: flex;
  padding: 0 20px;
}
.checkoutorder .icodeitems .iDiscountCode {
  background-color: #1d1f27;
  border: 2px solid #9d9faa;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
}
.checkoutorder .icodeitems .iCodeSubmit {
  width: 100px;
  background-color: #9d9faa;
  border: 2px solid #9d9faa;
  color: #ffffff;
  transition: all 0.3s ease;
}
.checkoutorder .icodeitems .iCodeSubmit:hover {
  background-color: #44464f;
  color: #ffffff;
}
.checkoutorder .dTotalPrice {
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.1em;
  padding: 9px 20px 9px 0px;
  color: #e23965;
}
.checkoutorder .iorder {
  background-color: #4967ff;
  padding: 10px 80px;
  border-radius: 24px;
  border: 1px solid #4967ff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.15em;
  color: #ffffff;
  margin: 5px 35px;
}
.checkoutorder .iorder:hover {
  background-color: #8895ff;
}

.dCartNone {
  display: flex;
  padding: 50px 0 0 0;
  justify-content: center;
}
.dCartNone img {
  width: 300px;
}

.btnCartNone {
  text-align: center;
}
.btnCartNone button {
  background-color: #4967ff;
  border-radius: 24px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.btnCartNone button svg {
  color: #ffffff;
}
.btnCartNone button:hover {
  background-color: #8895ff;
}

.dCollectlist {
  justify-content: center;
  list-style-type: none;
}
.dCollectlist .slick-dots {
  bottom: -80px;
}
.dCollectlist .slick-dots li {
  margin: 25px;
}
.dCollectlist .slick-dots li button::before {
  content: "  ";
  background-color: #000000;
  width: 60px;
  height: 15px;
  border-radius: 2px;
}
.dCollectlist .slick-dots .slick-active button::before {
  background-color: #4967ff;
}
.dCollectlist a:hover > .slick-prev,
.dCollectlist .slick-next {
  z-index: 100;
}
.dCollectlist .slick-arrow {
  right: 0px;
}
.dCollectlist .slick-track {
  width: 100%;
}
.dCollectlist .slick-prev:before {
  content: url(../components/CoursePage/img/toleft.svg);
  left: -30px;
  top: -10px;
  position: absolute;
  opacity: 0.35;
  transition: all 0.8s;
}
.dCollectlist .slick-prev:before:hover {
  opacity: 1;
}
.dCollectlist .slick-next:before {
  content: url(../components/CoursePage/img/toright.svg);
  right: -60px;
  top: -10px;
  position: absolute;
  opacity: 0.35;
  transition: all 0.8s;
}
.dCollectlist .dCard {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  width: 280px;
  display: flex;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  transition: all 0.1s ease-in-out;
  color: #9d9faa;
  border: 2px solid transparent;
}
.dCollectlist .dCard:hover {
  border: 2px solid #9d9faa;
  box-shadow: 0px 0px 0px 1px #a0a0a0, inset 0px 0px 21px 7px rgba(255, 255, 255, 0.35);
}
.dCollectlist .dCard > div:hover {
  filter: saturate(3);
}
.dCollectlist .dCard .dCardScore {
  justify-content: baseline;
}
.dCollectlist .dCard .dCardScore span {
  display: inline-flex;
}
.dCollectlist .dCard .dCardStar {
  color: #aa003b;
  padding: 0 5px;
}
.dCollectlist .dCard .dCardStarActive path {
  fill: #9d9faa;
}
.dCollectlist .dCard .sOnStar path {
  fill: #e0e03b;
}
.dCollectlist .dCard .dCardTitle {
  color: #4967ff;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1em;
}
.dCollectlist .dCard .imgCard {
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  width: 100%;
}
.dCollectlist .dCard .shopCart {
  position: absolute;
  top: 130px;
  right: 10px;
  padding: 5px;
  display: flex;
  float: right;
  font-size: 25px;
  z-index: 300;
  color: #e23965;
}
.dCollectlist .dCard .dCardMark {
  position: absolute;
  top: 130px;
  left: 10px;
  font-size: 25px;
  padding: 5px;
  color: #e23965;
  z-index: 300;
}
.dCollectlist .dCard .dCardTeacher {
  color: #1d1f27;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  /* identical to box height, or 206% */
  letter-spacing: 0.05em;
}
.dCollectlist .dCard .dCardtext {
  padding: 10px;
  background-color: #ffffff;
  position: relative;
  height: 100%;
  border-bottom: 8px solid #e23965;
  align-items: center;
  height: 200px;
}
.dCollectlist .dCard .dCardPrice {
  font-weight: 600;
  font-size: 22px;
  justify-content: center;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #e23965;
  float: right;
  position: relative;
  top: -20px;
}
.dCollectlist .dCard svg path {
  padding: 0 3px;
}/*# sourceMappingURL=cartpage.css.map */