.header{
    height: 80px;
    background-color: black;
    .header-top{
        height: 40px;
        text-align: end;
        line-height: 40px;
        padding-right: 20px;
        span{
            margin-right: 10px;
            }
        .ant-dropdown-link{
            img{
                object-fit:cover;
                width: 40px;
                height: 40px;
                border-radius: 80%;
                margin-right: 40px;
                margin-top: 5px;
            }
        }
    }
    .header-bottom{
        height: 40px;
        display: flex;
        align-items: center;
        .header-bottom-left{
            position: relative;
            width: 25%;
            color: #4967ff;
            text-align: center;
            font-size: 20px;
            &::after{
                content: '';
                position: absolute;
                right: 50%;
                top: 100%;
                transform: translateX(50%);
                border-top: 20px solid black;
                border-bottom: 20px solid transparent;
                border-right: 20px solid transparent;
                border-left: 20px solid transparent;
            }
        }
        .header-bottom-right{
            width: 75%;
            text-align: end;
            margin-right: 30px;
            span{
                margin: 0 5px;
            }
        }
    }
}